.main {

}

.navbar {
  position:absolute;
  left: 40%;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.breadcrumbs {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 15%;
  left: 25%;
  gap: 20px;
}

.coursebanner {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 30%;
  top: 20%;
}
.course_content {
  position: absolute;
  margin-left: 25%;
  top: 40%;
}